extends layout.pug 

block content
  // Page Header
  - let img = "background-image: url('../static/writing/img/" + headerImage + "')"
  header.masthead(style=img)
    .container.position-relative.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          .site-heading
            h1 Wilbur Industries
            span.subheading a blog from the workers
  // Main Content
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-md-10.col-lg-8.col-xl-7

        unless typeof(posts) === undefined
          each post in posts
            // Post preview
            .post-preview 
              - var id = post.id
              a(href='/blog/post/' + id)
                h2.post-title #{ post.title }
                h3.post-subtitle #{ post.description }
              p.post-meta 
                | Posted by 
                strong #{ post.author } 
                | on #{ post.published.toDateString() }
              // Divider
              hr.my-4

        // Pager(s)
        .d-flex.justify-content-start.mb-4
          a.btn.btn-primary.text-uppercase(href='#!') &larr; Newer Posts 
        .d-flex.justify-content-end.mb-4
          a.btn.btn-primary.text-uppercase(href='#!') Older Posts &rarr;