<html>
    <head>
        <title>Democracy</title>
        <link rel="stylesheet" type="text/css" href="../static/democracy.css" />
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="/chartjs/Chart.min.js"></script>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id="container">
            <div id="header">
                <div id="links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="statistics">Statistics</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="about">About</a></li>
                    </ul>
                </div>

                <div id="login">
                    Welcome back, user! (Logout)<br />
                    Team Name<br />
                    <form>
                    <label>Username:</label><input type="text" name="login" />
                    <br />
                    <label>Password:</label><input type="text" name="lastname" />
                    </form>
                </div>
            </div>

            <div id="leftcol">
                Team A
                <div id="left-max-points">
                    <canvas id="left-team-points" height="1000"></canvas>
                </div>
                <br />
                <span id="t1-points"><%= t1_points %></span> / <span id="t1-goal"><%= t1_goal %></span>
            </div>

            <div id="rightcol">
                Team B
                <div id="right-max-points">
                    <canvas id="right-team-points" height="1000"></canvas>
                </div>
                <br />
                <span id="t2-points"><%= t2_points %></span> / <span id="t2-goal"><%= t2_goal %></span>
            </div>

            <script>
                var t1_points = <%= t1_points %>;
                var t2_points = <%= t2_points %>;
                var t1_goal = <%= t1_goal %>;
                var t2_goal = <%= t2_goal %>;
                
                var left_bar_ctx = document.getElementById('left-team-points').getContext('2d');
                var right_bar_ctx = document.getElementById('right-team-points').getContext('2d');
                var left_bar_chart = new Chart(left_bar_ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Points'],
                        datasets: [{
                            label: "Current Points",
                            data: [t1_points],
                            backgroundColor: "red"
                        }, {
                            label: "Points to Win",
                            data: [t1_goal - t1_points],
                            backgroundColor: "lightgrey",
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: false
                        },
                        scales: {
                            xAxes: [{
                                display: false,
                                stacked: true
                            }],
                            yAxes: [{
                                display: true,
                                stacked: true
                            }],
                        } // scales
                    } // options
                });
                
                var right_bar_chart = new Chart(right_bar_ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Points'],
                        datasets: [{
                            label: "Current Points",
                            data: [t2_points],
                            backgroundColor: "blue"
                        }, {
                            label: "Points to Win",
                            data: [t2_goal - t2_points],
                            backgroundColor: "lightgrey",
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: false
                        },
                        scales: {
                            xAxes: [{
                                display: false,
                                stacked: true
                            }],
                            yAxes: [{
                                display: true,
                                stacked: true
                            }],
                        } // scales
                    } // options
                });
            </script>
            
            <div id="content">



