<% include header %>

                <!--this level indent-->

                <div class="center-chart">
                    <canvas id="vote-chart"></canvas>
                </div>
                <script>
                    var vote_ctx = document.getElementById("vote-chart").getContext('2d');
                    var vote_data = new Chart(vote_ctx, {
                        type: 'pie',
                        data: {
                            labels: ["Rock", "Paper", "Scissors"],
                            datasets: [{
                                data: [<%= rock %>, <%= paper %>, <%= scissors %>],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                ]
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: "Today's Votes"
                            }
                        }
                    });
                </script>

                <div>
                    <table id="vote-data">
                        <tr>
                            <th>Rock votes</th>
                            <th>Paper votes</th>
                            <th>Scissor votes</th>
                        </tr>
                        <tr>
                            <td><span id="rock-votes"><%= rock %></span></td>
                            <td><span id="paper-votes"><%= paper %></span></td>
                            <td><span id="scissors-votes"><%= scissors %></span></td>
                        </tr>
                    </table>
                </div>

<% include footer %>