extends layout.pug 

block content
  if typeof(post) === undefined
    // Page Header
    header.masthead(style="background-image: url('../static/blog/img/post-bg.jpg')")
      .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            .post-heading
              h1 Title Would Go Here
              h2.subheading space problems or something
              span.meta
                | Posted by
                span.bold template
                |                                 on August 24, 2021
    // Post Content
    article.mb-4
      .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            p
            | Content of the blog would go here... 
            | Or something.
  else
    // Page Header
    header.masthead(style="background-image: url('../static/blog/img/post-bg.jpg')")
      .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            .post-heading
              h1 #{ post.title }
              h2.subheading #{ post.subtitle }
              span.meta
                | Posted by 
                span.bold #{ post.author }
                |                                 on #{ post.published.toDateString() }
    // Post Content
    article.mb-4
      .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
            p!= content
            - let postid = post._id
            form#editPost(method='GET', action='/blog/create/' + postid) 
              button#submitButton.btn.btn-primary.text-uppercase(type='submit') Edit Post